#support_chat .nav {
  padding-right: 0;
}

#support_chat .nav .unread-count {
  background: #0088cc;
  color: white;
  border-radius: 50%;
  width: 25px;
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
}

#support_chat .nav li.active .unread-count {
  background: white;
  color: #0088cc;
}

#support_chat .nav-pills a {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#support_chat .tab-content {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#support_chat .tab-content .tab-pane {
  padding: 0 15px;
}

#support_chat .queue-controls .btn {
  margin-right: 0;
}

#support_chat .queue-wrapper {
  height: 460px;
}

#support_chat .queue-wrapper tr:not(.no-users-in-queue) {
  display: grid;
  grid-template-columns: 25% auto 25% 140px;
}

#support_chat .queue-wrapper .no-screening tr:not(.no-users-in-queue) {
  grid-template-columns: 50% 30% 140px;
}

#support_chat .queue-wrapper .no-screening td:nth-child(2),
#support_chat .queue-wrapper .no-screening th:nth-child(2) {
  display: none;
}

#support_chat .queue-wrapper tr:not(.no-users-in-queue) td:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#support_chat .queue-wrapper tbody a {
  margin-right: 0;
}

#support_chat .chatbox .chatbox-messages {
  height: 350px;
  margin-bottom: 10px;
  overflow-y: auto;
}

#support_chat .chatbox .chatbox-textarea {
  width: 100%;
  min-height: 95px;
}

#support_chat .chatbox-messages .text-danger {
  color: #a94442;
}

#support_chat a:not([disabled]) {
  cursor: pointer;
}

#support_chat .show-transfer {
  float: right;
  margin-right: 34px;
}

#support_chat .chatbox-message {
  padding: 0 15px;
}

#support_chat .chatbox-message p {
  clear: both;
  border-radius: 4px;
  padding: 8px 10px;
  color: #fff;
  line-height: 21px;
  margin: 0 4px;
  text-align: left;
  position: relative;
}

.left-message {
  background-color: #2d4f82;
}

.left-message:after {
  border-left: 20px solid transparent;
  border-top: 15px solid #2d4f82;
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
}

.right-message {
  background-color: #4e4e52;
}

.right-message:after {
  border-right: 20px solid transparent;
  border-top: 15px solid #4e4e52;
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
}

#support_chat .chatbox-input {
  display: grid;
  grid-template-columns: auto 34px;
}

#support_chat .chatbox-input .fa-location-arrow {
  transform: rotate(45deg);
  font-size: 25px;
}
