#support_chat-wrapper {
  bottom: 0;
  height: 29px;
  width: 300px;
  margin: 0 1%;
  position: fixed;
  right: 50px;
  z-index: 9999; /*--Keeps the panel on top of all other elements--*/
}

#support_chat-wrapper *,
#support_chat-wrapper *:before,
#support_chat-wrapper *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#close-chat-confirmation {
  z-index: 10000;
}

#support_chat {
  width: 100%;
  text-align: right;
}

#support_chat > a:first-child {
  margin-right: 0;
}

#support_chat .subpanel {
  border-top: none;
  bottom: 15px;
  display: none;  /*--Hide by default--*/
  left: 0px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  width: 100%;
}

#support_chat .chat-exit {
  color: white;
  float: right;
}

#support_chat .tab-content {
  padding: 15px 0;
  position: relative;
}

#support_chat #queue,
#support_chat .chatbox-message,
#support_chat .close-chat {
  padding: 0 15px;
}

#support_chat .subpanel .chatbox {
  width: 100%;
}

#support_chat .tab-pane.active {
  height: 300px;
}

/* Subpanel title */
#support_chat .subpanel_title {
  background: #030066;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 3px 4px 3px 8px;
  font-size: 13px;
}

#support_chat .nav.nav-tabs li a,
#support_chat .nav.nav-tabs li a:hover {
  color: #337ab7;
  border-top-color: #337ab7;
}

#support_chat .unread-flag {
  margin-left: 5px;
}

#support_chat .nav .unread-count {
  background: #0088cc;
  color: white;
  border-radius: 50%;
  width: 20px;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
}


/* Chatbox */

#support_chat .chatbox-input {
  background-color: #fff;
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
  padding: 0 7px;
}

#support_chat .chatbox-textarea {
  border: none;
  height: 44px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  resize: none;
  width: 88%;
}

#support_chat .chatbox-textarea:focus {
  outline: none;
}

#support_chat .chatbox-input .submit-button {
  width: 10%;
}

#support_chat .chatbox-input .submit-button:hover {
  cursor: pointer;
}

#support_chat .chatbox-input .fa-location-arrow {
  transform: rotate(45deg);
  font-size: 25px;
}

.chatbox-messages {
  background-color: #fff;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 7px;
}

.chatbox-message p {
  clear: both;
  border-radius: 4px;
  padding: 8px 10px;
  color: #fff;
  line-height: 21px;
  margin: 0 4px;
  text-align: left;
  position: relative;
}

.left-message {
  background-color: #2d4f82;
}

.left-message:after {
  border-left: 20px solid transparent;
  border-top: 15px solid #2d4f82;
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
}

.right-message {
  background-color: #4e4e52;
}

.right-message:after {
  border-right: 20px solid transparent;
  border-top: 15px solid #4e4e52;
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
}

#support_chat .chatbox-messages .text-danger {
  color: #a94442;
}

#support_chat .close-chat {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 0;
  background-color: white;
}

#support_chat .queue-wrapper {
  height: 100%;
}

#support_chat #queue-position {
  font-weight: bold;
}

#support_chat #screening-question {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

#support_chat .screening-option label {
  font-weight: normal;
  display: inline;
}

#support_chat #screening-question .send-screening {
  margin-top: 5px;
}

/***** MEDIA QUERIES *****/
@media (max-width: 991px) {
  #support_chat-wrapper {
    right: 0;
  }
}

@media (max-width: 500px) {
  #support_chat .subpanel {
    top: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  #support_chat .tab-content {
    height: calc(100vh - 140px);
  }

  #support_chat .tab-pane.active {
    height: 100%;
  }

  #support_chat .chatbox-messages {
    height: calc(100% - 100px);
  }
}
