<div id="close-chat-confirmation" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Are you sure?</h3>
      </div>
      <div class="modal-body">
        <p>Are you sure that you want to close this chat?</p>
      </div>
      <div class="modal-footer">
        <button id="close-chat-confirm-button" type="button" class="btn btn-primary" data-dismiss="modal">Close Chat</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div id="support_chat-wrapper">
  <div id="support_chat">
    <a href="#" class="chat subpanel_toggle btn btn-primary">
      <span class="subpanel_title_text">
        Chat<i class="fa fa-envelope unread-flag hidden"></i>
      </span>
    </a>

    <div class="panel panel-primary subpanel" id="customer-chat-panel">
      <div class="panel-heading">
        Chat
        <a href="#" class="subpanel_toggle chat-exit">
          X
        </a>
      </div>
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#queue" id="queue-link" data-toggle="tab">Queue</a></li>
        </ul>
        <div class="tab-content">
          <div id="queue" class="tab-pane active">
            <div class="queue-wrapper">
              <a class="btn btn-primary enter-queue" disabled>Enter Queue</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
