<div id="support_chat" class="row">
  <div id="transfer-chat-window" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Transfer Chat</h3>
        </div>
        <div class="modal-body">
          <div id="active-reps-list"></div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-success transfer-chat" data-chat-id="" data-support-rep-id="">Transfer</a>
        </div>
      </div>
    </div>
  </div>
  
  <div id="close-chat-confirmation" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Are you sure?</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure that you want to close this chat?</p>
        </div>
        <div class="modal-footer">
          <button id="close-chat-confirm-button" type="button" class="btn btn-primary" data-dismiss="modal">Close Chat</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <ul class="nav nav-pills nav-stacked col-md-3">
    <li class="active"><a href="#queue" id="queue-link" data-toggle="tab">Queued Users</a></li>
  </ul>
  <div class="col-md-9  tab-content">
    <div id="queue" class="tab-pane active">
      <div class="row mb-md">
        <div class="col-md-6 availability-controls">
          <a class="btn btn-default deactivate-user hidden">Go Inactive</a>
          <a class="btn btn-primary activate-user hidden">Go Active</a>
        </div>
        <div class="col-md-6 queue-controls text-right">
          <a class="btn btn-default close-queue hidden">Close Queue</a>
          <a class="btn btn-primary open-queue hidden">Open Queue</a>
        </div>
      </div>
      <div class="queue-wrapper">
        <table class="table table-hover no-screening">
          <thead>
            <tr>
              <th>Username</th>
              <th>Subject</th>
              <th>Time in Queue</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="queue-list"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
